<!DOCTYPE html>
<html>
  <head>
    <title>Rails6Webpacker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', 'posts', 'comments', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application', 'posts', 'comments' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
