<!DOCTYPE html>
<html>
  <head>
    <title>Rails6Webpacker</title>
    <%= Gon::Base.render_data %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag *javascript_packs_with_chunks_names %>
  </head>

  <body>

    <div data-controller="application">
      <input data-target="application.message" type="text">
      <button data-action="click->application#greet">Greet Application Controller</button>
    </div>
    <%= yield %>
  </body>
</html>
